<div class="app-header header-shadow bg-DarkGreyBlue header-text-dark">
    @*<div class="app-header header-shadow header-text-dark">*@
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button id ="clsMenubtn"type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>

    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>

    <div class="app-header__content">
        <div class="app-header-left" style="display:none">
            <div class="search-wrapper">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Type to search">
                    <button class="search-icon"><span></span></button>
                </div>
                <button class="close"></button>
            </div>
            <ul class="header-menu nav">
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-database"> </i>
                        Statistics
                    </a>
                </li>
                <li class="btn-group nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-edit"></i>
                        Projects
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-cog"></i>
                        Settings
                    </a>
                </li>
            </ul>
        </div>
        <div class="app-header-right">
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    @if (!string.IsNullOrEmpty(Context.Session.GetString("UserID")))
                    {
                        <div class="widget-content-wrapper" id="dvHeader">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <partial name="_Notification" />
                                    <div class="widget-content-right header-user-info ml-3" style="padding-right:5px;display:none;">
                                        <button type="button" class="btn-shadow p-1 btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Help">
                                            <i class="fas fa-question fa-2x" style="color:white;line-height:0px !important; margin-top:12px;"></i>
                                        </button>
                                    </div>

                                    <div class="widget-content-right header-user-info ml-3" style="padding-right:5px;">
                                        <button type="button" class="btn-shadow p-1 btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit Profile"  onclick="location.href='@Url.Action("Profile", "UserDetails")'">
                                            @*<a asp-controller="UserDetails" asp-action="Profile" style="text-decoration:none;">*@
                                                <i class="fas fa-user-edit fa-2x" style="color:white; line-height:0px !important; margin-top:12px;">   </i>
                                            @*</a>*@
                                        </button>
                                    </div>

                                    <div class="widget-content-right header-user-info ml-3" style="padding-right:5px;">
                                        <button type="button" class="btn-shadow p-1 btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Logout"
                                                onclick="location.href='@Url.Action("Logout", "Dashboard")'">
                                            @*<a asp-controller="Dashboard" asp-action="Logout">*@
                                            <i class="fas fa-power-off fa-2x" style="color:#f77f7f; line-height:0px !important; margin-top:12px;"></i>
                                            @*</a>*@
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading" style="color:white;">
                                    @Context.Session.GetString("UserName")
                                </div>
                                <div class="widget-subheading" style="color:white;">
                                    Last Login :  @Context.Session.GetString("LastLoginDate")
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
